<?php

// These settings were used during development
$_ENV['SMTP_HOST']="mail-eu.smtp2go.com";
$_ENV['SMTP_PORT']=8465;
$_ENV['SMTP_AUTH']=true;
$_ENV['SMTP_USER']="supersecretusername123";
$_ENV['SMTP_PASSWORD']="supersecretpassword123";

$_ENV['MAIL_TO']="email@example.com";
$_ENV['MAIL_TO_NAME']="Test User";

$_ENV['DBSERVERNAME']="mariadb";
$_ENV['DBUSERNAME']="root";
$_ENV['DBPASSWORD']="projekti";
$_ENV['DBNAME']="PROJECTS";



?>
