body {
    font-family: Arial, sans-serif;
}

header {
    padding: 30px;
    background-color: #EABE7C;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 10px;
}

.projektitori {
    font-size:40px;
    color:white;
}

.main_page {
    margin: 0;
    height: 100vh;
    background: #ECE4B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
.main_text {
    font-size: 45px;
    color: #311e10;
}

* {
    margin: 0;
    padding: 0;
}

.grid-projects {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.project_card{
    background: white;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    border-color:aliceblue;
    overflow: hidden;
}
.project_card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card_container {
    padding: 2px 16px;
}
.project_name {
    font-size: 25px;
}

.title_company {
    display: flex;
    justify-content: space-between;
}

.card_button {
    float:right;
}
#project_description_short {
    font-weight: bold;
}
#aikavali_text {
    font-weight: bold;
}
#posted {
    font-weight: bold;
}


.project_description {
    display: -webkit-box;
    display: box;                 
    -webkit-box-orient: vertical;
    box-orient: vertical;

    line-clamp: 5;                
    -webkit-line-clamp: 3;       

    overflow: hidden;
    word-break: break-word;
}
.project_name, .company {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

#project_description_title {
    font-weight: bold;
}