body {
    font-family: Arial, sans-serif;
    background-color: #ECE4B7;
}

header {
    padding: 30px;
    background-color: #EABE7C;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 10px;
}

.projektitori {
    font-size:40px;
    color:white;
}


* {
    margin: 0;
    padding: 0;
}


.grid-projects {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.teacher_card{
    background: white;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    border-color:aliceblue;
    overflow: hidden;
}
.teacher_card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card_container {
    padding: 2px 16px;
}
.project_name {
    font-size: 25px;
}

.title_teacher {
    display: flex;
    justify-content: space-between;
}

.card_button {
    float:right;
}

.teacher_description {
    display: -webkit-box;
    display: box;                 
    -webkit-box-orient: vertical;
    box-orient: vertical;

    line-clamp: 5;                
    -webkit-line-clamp: 3;       

    overflow: hidden;
    word-break: break-word;
}
.teacher_name {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

#teacher_description_title {
    font-weight: bold;
}

.main_text {
    font-size: 45px;
    color: #311e10;
}

.main_text_div {
    display: flex;
    text-align: center;
    justify-content: center;
}