* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ECE4B7;
}

header {
    padding: 30px;
    background-color: #EABE7C;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 10px;
}

.container {
    width: 40%;
    text-align: center;
    margin: 120px auto 0 auto;
}

.container2 {
    margin-top: 20%;
    padding: 12px;
    text-align: center;
}

.title {
    text-align: center;
    color: #ff2b2b;
    margin-bottom: 40px;
}

.input_field {
    display: block;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;
}

.accept_button_lomake {
    color: rgb(255, 102, 0);
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: #ffffff; 
  padding: 1.25rem 1rem 0.75rem;

  font-size: 1rem;
  color: #30364F; 
  outline: none;
  transition: border 0.2s ease;
}


.user-label {
  position: absolute;
  left: 1rem;            
  top: 50%;
    transform: translateY(-50%);

  display: flex;
  align-items: center;    
  color: #606060;         
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: transparent;
  padding: 0 0.2em;
}

.input:focus,
.input:valid {
  border: 1.5px solid #1a73e8;
}

.input:focus ~ .user-label,
.input:valid ~ .user-label {
    top: 0;
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff; 
  color: #1a73e8;

}

.label-float .user-label {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  background-color: #ECE4B7;
  color: #1a73e8;
}

.accept_button_div {
    float: right;
    width: 20%;
    margin-top: 5%;
}

.accept_button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

.accept_button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.accept_button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.accept_button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


.projektitori {
    font-size:40px;
    color:white;
}


input[type="date"] ~ .user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ECE4B7; 
  color: #1a73e8;
}

.code_explanation_text_div {
    padding-bottom: 50px;
}